body {
  margin: 0;
  padding: 0;
  background-image: url();
  text-decoration: none !important;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.font-white {
  color: white;
}

.text-bold {
  font-weight: 500;
  color: black;
}

/* Custom styles for the carousel container */
#carouselExampleInterval .carousel-inner {
  max-height: 800px; /* Set a fixed height for the container */
}

/* Ensure images cover the entire carousel item */
#carouselExampleInterval .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ================================   
=== CAROUSEL
===================================
*/
.c-item {
  height: 300px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

/* ================================   
=== END OF CAROUSEL
===================================
*/

/* ================================   
=== Main Menu
===================================
*/

.index-main-menu {
  background: #a49999;
  border-radius: 6px;
  height: 60px;
  padding: 0 25px;
  margin-top: -20px;
  position: relative;
  z-index: 1;
}

.index-main-menu a {
  line-height: 60px;
  margin: 0 15px;
  font-size: 17px;
  color: #0c0b0c;
  letter-spacing: 0;
  font-family: Georgia, serif;
}

/* Media query for screens smaller than 768px (typical mobile screens) */
@media (max-width: 768px) {
  .index-main-menu {
    height: auto; /* Auto height to accommodate varying content */
    padding: 10px 15px; /* Adjusted padding for smaller screens */
    margin-top: 0;
  }

  .index-main-menu a {
    line-height: normal;
    margin: 5px 10px;
    font-size: 18px;
  }
}

/* ================================   
=== END
===================================
*/

/* ================================   
=== Container-contents
===================================
*/

.container-item {
  padding-top: 30px;
  background-color: rgb(156, 151, 151);
  color: #ffffff;
  text-align: center;
}

.container-item ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

.container-item ul li a p:hover {
  color: yellow;
  text-decoration: none;
}

.title {
  font-size: 18px;
  color: #222222;
  letter-spacing: 0;
  margin-bottom: 3px;
  margin-top: 8px;
  font-weight: bold;
}

.subtitle {
  font-size: 15px;
  color: #1d1c1c;
  letter-spacing: 0;
  margin-top: 1px;
}

.container-item ul li img {
  height: 250px;
  width: 230px;
  object-fit: cover;
}

.star-ratings {
  display: inline;
  margin-bottom: 10px;
  padding: 0;
  font-weight: bold;
}

/* ================================   
=== SideMenu
===================================
*/

#sidemenu {
  display: inline-block;
}

.sidemenu-header {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-top: 0px;
}

.more {
  color: bisque;
  font-size: 14px;
  padding-right: 15px;
}

.sidemenu-title {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}

.number-title {
  display: inline-flex;
}


